# 全ファイルを無視する
*

!.gitignore
!.gitkeep
!.gitmodules

!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!/.github/dependabot.yml
!/.github/zizmor.yml

!*.ts
!*.tsx
!*.md

!/dataset

!/scripts/

!/src/

!/.editorconfig
!/.ncurc.cjs
!/.npmrc
!/biome.jsonc
!/bumpver.toml
!/commitlint.config.cjs
!/lefthook.yaml
!/LICENSE
!/mise.toml
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/tsconfig.json
