name: Update holidays

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
          persist-credentials: false

      - name: Update submodules
        run: git submodule update --remote --recursive

      - name: create content
        run: |
          # 年を含むブランチ名/コミットメッセージ/タイトルを作成
          branch_name="update-holidays-$(date +'%Y%m%d' | tr -d '\n')"
          commit_message="chore: Update holidays $(date +'%Y%m%d' | tr -d '\n')"
          title="祝日更新 - $(date +'%Y%m%d' | tr -d '\n')"
          echo "branch_name=$branch_name" >> $GITHUB_ENV
          echo "commit_message=$commit_message" >> $GITHUB_ENV
          echo "title=$title" >> $GITHUB_ENV
          
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # 8.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: ${{ env.commit_message }}
          committer: "GitHub Actions <actions@github.com>"
          author: "GitHub Actions <actions@github.com>"
          branch: ${{ env.branch_name }}
          base: main
          title: ${{ env.title }}
          body: "祝日が更新されました"
          labels: update
